<div class="auth-main">
  <div class="auth-container">
    <div class="auth-card">
      <div class="text-center mb-4">
        <img src="assets/logo.png" class="login-logo mb-3" />
        <h5 class="app-name">Secure File Manager</h5>
        <p class="subtitle">Secure Access Portal</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group position-relative">
          <input
            type="email"
            class="form-control premium-input"
            placeholder="Email"
            formControlName="email"
            name="email"
          />
          <i class="fa-solid fa-envelope input-icon"></i>

          <div class="text-danger small mt-1" *ngIf="submitted && loginForm.get('email')?.errors">
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Invalid email format
            </div>
          </div>
        </div>

        <div class="form-group position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control premium-input"
            placeholder="Password"
            formControlName="password"
          />

          <i class="fa-solid fa-lock input-icon"></i>

          <i
            class="fa-solid toggle-password"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="showPassword = !showPassword"
          ></i>

          <div class="text-danger small mt-1" *ngIf="submitted && loginForm.get('password')?.errors">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Minimum 6 characters required
            </div>
          </div>
        </div>

        <div class="text-danger small mt-2" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <button class="btn btn-premium w-100 mt-2" [disabled]="isLoading">
          <i class="fa-solid fa-right-to-bracket me-2"></i> {{ isLoading ? 'Signing In...' : 'Sign In' }}
        </button>
      </form>

     

      <div class="text-center mt-4">
        Don't have an account?
        <a [routerLink]="['/register']" class="link fw-bold">Register</a>
      </div>
    </div>
  </div>
</div>
