/* BACKGROUND */
.auth-main {
  height: 100vh;
  background: linear-gradient(-45deg, #5E35B1, #673AB7, #3F51B5, #2196F3);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

/* ANIMATION */
@keyframes gradientMove {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}

/* CENTER */
.auth-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BIG PREMIUM CARD */
.auth-card {
  width: 100%;
  max-width: 600px;
  padding: 45px 40px;
  border-radius: 18px;

  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.15);
  box-shadow: 0 12px 40px rgba(0,0,0,0.25);

  color: white;
}

/* TEXT */
.login-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;

  /* glass effect */
  padding: 8px;
  border-radius: 14px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);

  transition: 0.3s ease;
}

.login-logo:hover {
  transform: scale(1.05);
}

.app-name {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 13px;
  color: rgba(255,255,255,0.8);
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
}

/* INPUT */
.premium-input {
  width: 100%;
  padding: 12px 40px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
}

.premium-input::placeholder {
  color: rgba(255,255,255,0.7);
}

.premium-input:focus {
  box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
}

/* ICON */
.input-icon {
  position: absolute;
  left: 12px;
  top: 12px;
}

/* PASSWORD TOGGLE */
.toggle-password {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

/* BUTTON */
.btn-premium {
  background: white;
  color: #5E35B1;
  font-weight: 600;
  border-radius: 10px;
  padding: 12px;
  border: none;
}

.btn-premium:hover {
  background: #eee;
}

/* BIOMETRIC */
.btn-bio {
  background: rgba(255,255,255,0.2);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.btn-bio:hover {
  background: rgba(255,255,255,0.3);
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 15px 0;
  opacity: 0.7;
}

/* LINKS */
.link {
  color: #fff;
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .auth-card {
    max-width: 90%;
    padding: 30px 20px;
  }
}